/*fonts download from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');


/*varriables*/
:root {
  --headingfont: url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
  --bodyfont: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
}

/*gnenral design*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--bodyfont);
  background: hsl(218,
  28%, 13%);
  line-height: 1.5;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

img {
  width: 100%;
  display: block;
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

h1, h2, h3, h4, h5 {
  font-family: var(--headingfont);
  color: hsl(0, 0%, 100%);
}
h1 {
  font-size: 17px;
  font-weight: 700;
}
/*navbar*/
/*.navbar {
 justify-content: space-evenly;
 position: fixed;
}*/
.navbar {
  background: hsl(218,
    28%, 13%);
    display: flex;
}
.nav-logo {
  float: left;
  top: 0;
  left: 0;
  width: 20vw;
  padding-top: 0.5rem;
  padding-left: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  display: inline;
  background: hsl(218,
    28%, 13%);
    z-index: 1;
}
.logo-bts {
  display: inline;
margin-bottom: 0.3rem;
padding-left: 6rem;
position: fixed;
top: 0%;
right: 0%;
background: hsl(218,
  28%, 13%);
}
.logo-btn{
font-size: 14px;
font-weight: 500;
margin-left: 2vw;
margin-top: 2vw;
background: hsl(218,
  28%, 13%);;
}
.logo-btn:hover{
  color: hsl(217, 28%, 15%);
  background:hsl(198, 60%, 50%);
  border-radius: 50px;
}
@media screen and (min-width: 1440px) {
  .nav-logo {
    width: 6rem;
  }
  .logo-btn {
    margin: 0.5rem;
    font-size: 14px;
  }
}
/*header*/
.header-section {
  padding: 1rem;
  text-align: center;
  font-family: var(--headingfont);
  background-image: url(./images/bg-curvy-mobile.svg) center/cover no-repeat fixed;
}
.header-img{
  width: 60vw;
  height: 50vh;
  margin: 2rem;
}
.img1 {
  display: flex;
  justify-content: center;
}
.header-section p {
  font-size: 14px;
  margin-bottom: 2rem;
  margin-top:1rem
}
.call {
  background-color: hsl(198, 60%, 50%);
  border-radius: 50;
  justify-content: center;
  padding: 0;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  font-size: 10px;
  border-radius: 50px;
}
.call:hover {
  color: hsl(217, 28%, 15%);
  background: cyan;
  border-radius: 50px;
  box-shadow: 0 5px 15px hsl(217, 28%, 15%);
}
@media screen and (min-width: 1440px) {
.header-section {
 margin: 15%;
}
.call {
  padding: 1rem;
}
}
/*new section*/
.functions {
  padding: rem;

}
.function {
font-family: var(--headingfont);
margin: 2rem;
}
.function-img {
  margin: 4rem;
  height: 15vh;
  width: 20vw;
  display: block;
  justify-content: center;
}
h2 {
  text-align: center;
  font-weight: 600;
}
.function p {
  text-align: center;
}
@media screen and (min-width: 1440px) {
.functions-hub {
  display: flex;
}
.function {
  margin: 2rem;
  float: left;
}
.fuctions-hub2 {
  display: flex;
}
}
/*new section*/
.word {
  text-align: center;
  font-size: 16px;
  color: hsl(176, 68%, 64%);

}
.arrow{
  width: 7vw;
  display:inline;
  margin: 0rem;

}
.see-how {
display: flex;
margin: 0.5rem;
}
.seeo:hover {
  background:hsl(198, 60%, 50%);
  border-radius: var(--radius);
}
.line {
  background-color: hsl(176, 68%, 64%);
  width: 41vw;
  height: 0.5vh;
  margin-left: 0.5rem;
}

@media screen and (min-width: 1440px) {
  .see {
    display: flex;
    justify-content: center;
    margin: 3rem;
  }
  .see-img {
    width: 45vw;
    height: 45vh;
    margin: 2rem;
  }
  .header-content {
    width: 45vw;
    height: 45vh;
    margin: 2rem;
  }
}

.header-content {
  margin-bottom: 2rem;
}
.see {
  padding: 2rem;
}
/*new session*/
/*comment section*/
.comment-content {
  margin-top: 0rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  background-color: hsl(219, 30%, 18%);
  padding: 1rem;
}
.quote {
  width: 7vw;
  height: 4vh;
  margin-left: 3rem;
  margin-top: 3rem;
}
.identity-img {
  width: 7vw;
  height: 6vh;
  border-radius: 50%;
  float: left;
}
.comment-p {
  font-size: 12px;
  margin-bottom: 1rem;
}
.identity-text {
  padding-left: 0.5rem;
}
.identity-p {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
h5{
  margin: 0;
  padding: 0;
}
.identity {
  display: flex;
}


@media screen and (min-width: 1440px) {
 .comment-cont {
   display: flex;
   justify-content: center;
   margin: 2rem;
 } 
 .comment-content{
   margin: 2%;
 }
 .quote {
   margin-bottom: -2.5rem;
 }
}

/*new section*/
.form-content {
  background: hsl(217, 28%, 15%);
  border-top-left-radius: 10px;
  border-top-right-radius:10px ;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 90vw;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}
.form-content2 {
  background: hsl(217, 28%, 15%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  width: 90vw;
  margin-left: 2rem;
  margin-right: 2rem;
}
.form-p{
  margin: 1rem;
  font-size: 14px;
  margin-bottom: 2rem;
}

.input {
  height: 7vh;
  width: 60vw;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  color: hsl(198, 60%, 50%);
  ;
  margin: auto;
  font-size: smaller;
}
.form-content {
  margin-bottom: -5re;
}
.form-btn{
  height: 7vh;
  width: 60vw;
  background-color: hsl(198, 60%, 50%);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  margin: auto;
  margin-top: 1.5rem;
}
.form-btn:hover {
  color: hsl(217, 28%, 15%);
  background: hsl(198, 60%, 50%);
  border-radius: 50px;
  box-shadow: 0 5px 15px hsl(217, 28%, 15%);
}

@media screen and (min-width: 1440px){
.input {
width: 45vw;
}
.form-content,
.form-content2 {
margin-left: 10%;
margin-right: 10%;
}
.form-content{
  padding-bottom: 0;
  margin-bottom: -2rem;
}
.form-btn {
  width: 25vw;
  margin: 0;
  font-size: 14px;
}
}


/*how i intend to solve the background color overlay; ill creat two sections with two div and give them the two colors*/
/*footer*/
.eb {
  background: hsl(216, 53%, 9%);;
  width: 100vw;
  height: 35vh;
  margin: 0;
}
.foot-logo {
  width: 30vw;
  margin-left: 3rem;
  margin-bottom: 2rem;
  display: block;
  background: hsl(216, 53%, 9%);
}
footer {
  background: hsl(216, 53%, 9%);
}

.s {
  display: flex;
}
.pf {
  padding-left: 1rem;
  padding-top: 0;
  border: 0;
  margin: 2rem;
}
.contact{
  margin-left: 1rem;
  margin-bottom: -3rem;
  width: 5vw;
  height: 2.5vh;
}

.picon {
  background: white;
}
.about,
.contact-us {
margin: 1rem;
}
.cot:hover {
  border-radius: 25px;
  color: hsl(217, 28%, 15%);
  background: hsl(198, 60%, 50%);}
.icon {
  font-size: 8vw;
  border-radius: 50%;
  margin: 0.5rem;
}
.icons {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.ficon {
  height: 4vh;
  width: 4vw;
  background-color: white;
}
.about p {
  margin: 0;
}
.contact-us p{
  margin: 0;
}
.footer-seg {
background: hsl(216, 53%, 9%);
}
@media screen and (min-width: 1440px) {
  .all {
    display: flex;
    justify-content: space-between
  }
  .contact {
    margin-bottom: -2rem;
  }
  .footer-seg {
    margin: 0.5rem;
  }
  .a{
    width: 20v;
    font-size: 14px;
  }
  .b {
    width: 23v;
    font-size: 14px;
  }
  .c {
    width: 12vw;
    font-size: 14px;
  }
  .d {
    width: 15vw;
    font-size: 14px;
  }
  .e {
    width: 17vw;
    font-size: 14px;
  }
  .pf{
    margin: 1rem;
  }
  .icon {
    font-size: 14px;
  }
  .contact {
    width: 2vh;
    height: 2vh;
  }
  .foot-logo{
    width: 2;
  }
footer {
  background: hsl(216, 53%, 9%);
}
}